<h2>Shelters</h2  >

<% @shelters.each do |shelter| %>
  <section id="shelter-<%=shelter.id%>">
    <h2><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h2>
    <!-- a href="/shelters/<%= shelter.id %>/edit">Edit Shelter</a -->
    <%= link_to 'Edit Shelter', edit_shelter_path(shelter.id), method: :get %></br>
    <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %></br></br>
  </section>
<% end %>

<h3><%= link_to 'Create New Shelter', '/shelters/new' %></h3>
