<h2>Application ID: <%= @application.id %></h2>

<%= render "details" %>

<% if @application.status != "In Progress" %>
  <%= render "descrip" %>
<% end %>

<%= render "search" %>
<%= render "pets_added" %>
<%= render "submit" %>