<h2>All Pets</h2>

<% @pets.each do |pet| %>
  <% if pet.adoptable == true %>
  <section id="pet-<%= pet.id %>">
      <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
      <%= image_tag "#{pet.image}", class: 'pet_img' %><br>
      Approx. Age: <%= pet.approximate_age %></br>
      Sex: <%= pet.sex %></br>
      Shelter: <%= link_to "#{pet.shelter.name}", "shelters/#{pet.shelter.id}" %></br>
      <%= link_to 'Edit Pet Info', edit_pet_path(pet.id), method: :get %></br>
      <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></br>
  </section>
  <% end %>
<% end %>
