<section id="app-<%= @application.id %>-pets-added">  
    <h4>Pets to be Adopted:</h4>
    <ul>
      <% @application.pets.each do |pet| %>
        <li id="admin-tools-<%= pet.id %>"><%= link_to "#{pet.name}", pet_path(pet.id), method: :get %>
        
        <% if @app_pets.find_by_pet(pet.id).first.approved? %>
          <span class="app-pet-status">APPROVED</span>
       
        <% elsif @app_pets.find_by_pet(pet.id).first.rejected? %>
          <span class="app-pet-status">REJECTED</span>

        <% elsif !pet.adoptable? %>
          <span class="app-pet-status">RESERVED</span>
          <%= link_to 'REJECT',
            admin_application_pet_path(app_id: @application.id, pet_id: pet.id, status: :reject),
            method: :patch, class: "reject", id: "reject" %>

        <% else %>
          <%= link_to 'APPROVE', 
              admin_application_pet_path(app_id: @application.id, pet_id: pet.id, status: :approve),
              method: :patch, class: "approve", id: "approve" %>
          
          <%= link_to 'REJECT',
            admin_application_pet_path(app_id: @application.id, pet_id: pet.id, status: :reject),
            method: :patch, class: "reject", id: "reject" %>

        <% end %>
        </li>
      <% end %>
    </ul>
</section>