<h2><%= @shelter_details.name %></h2>
<%= @shelter_details.address %>
<%= @shelter_details.city %>
<%= @shelter_details.state %>
<%= @shelter_details.zip %></br></br>

<hr></br>
<section id="shelter-stats">
  <h3>Shelter Statistics</h3>
    <ul>
      <li><b>Average Adoptable Pet Age:</b>
        <div class="stat"> <%= @shelter.pets.average_adoptable_age.round(2) %> years</div></li>
      <li><b>Count of Adoptable Pets:</b>
        <div class="stat"><%= @shelter.pets.count_adoptable %></div></li>
    </ul>
</section>
<hr>