<!DOCTYPE html>
<html>
  <head>
    <title>Smart Friends Guild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <p><%= link_to "Home", root_path %>
            <%= link_to "Shelters", shelters_path %>
            <%= link_to 'Pets', pets_path %></p>
        </ul>
      </div>
    </header>

  <div id="the-flash">
    <% flash.each do |type, messages| %>    
      <% if messages.is_a?(String) %>
        <span class="flash"><%= messages %>.</p>
      <% else %>
        <% messages.full_messages.each do |message| %>
          <span class="flash"><%= message %>.  </span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= yield %>

  </body>
</html>
